@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0 !important;
    margin: 0 !important;
}

:root {
    --bs-primary: #4564e5;
    --secondary-color: #f1f5fb;
    --background-color: #FEFEFF;
    --background-input: var(--secondary-color);
    --text-color: #202429;
    --input-color: #ACACAC;
}

/* Colors */
a {
    color: var(--bs-primary) !important;
}
.primary-color {
    color: var(--bs-primary) !important;
}
.text-color,
label {
    color: var(--text-color);
}
.btn-primary {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
}
.bg-color {
    background-color: var(--background-color) !important;
}
.bg-secondary {
    background-color: var(--secondary-color) !important;
}
.border-primary {
    border-color: var(--bs-primary) !important;
}
.btn-close {
    border-color: var(--text-color) !important;
}


/* Text Size */
h1 {
    font-size: clamp(30px, 2.5vw, 35px);
}
h2 {
    font-size: clamp(25px, 2.5vw, 30px);
}
h3 {
    font-size: clamp(20px, 2.5vw, 25px);
}
h4 {
    font-size: clamp(17px, 2.5vw, 20px);
}
h5 {
    font-size: clamp(15px, 2.5vw, 17px);
}
h6,
a,
span,
p {
    font-size: clamp(13px, 2.5vw, 15px);
}
small {
    font-size: clamp(8px, 2.5vw, 13px) !important;
}


.logo {
    margin-left: 30px;
}

.pass-logo {
    position: absolute;
    height: 35px;
    width: 38px;
    background: transparent;
    line-height: 60px;
    font-size: 20px;
    text-align: center;
    padding-left: 15px;
    z-index: 999;
}

.content .pass-logo i.bx,
.showPass {
    color: var(--input-color);
    position: relative;
}

.content input {
    height: 100%;
    width: 100%;
    border: 1px solid var(--background-input);
    color: var(--text-color);
    border-radius: 10px;
    padding: 15px 10px 15px 45px;
    outline: none;
    background: var(--background-input);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.content input::placeholder {
    color: var(--input-color);
}

input.form-control:focus,
input.form-control:-webkit-autofill {
    box-shadow: none;
    border-color: var(--bs-primary) !important;
    background: var(--background-input) !important;
    color: var(--text-color) !important;
}

form .btn {
    border-radius: 10px !important;
    padding: 10px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#hero {
    background-color: var(--secondary-color);
}

@media (max-width: 767px) {
    #hero {
        display: none !important;
    }
    #logo-mobile {
        display: flex !important;
    }
}
